$white: #fff;
$white-half : rgba(255,255,255,.5);
$blue: #4065c6;
$dark-blue: #233a78;
$light-blue: #f2f6ff;
$green: #79d837;
$red: #f56877;
$gray: #7481a3;
$input-border: rgba(255,255,255,.3);
$warning: #ffd500;
$invalid: #ee021b;
